<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nallur</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap1.min.css" rel="stylesheet" type="text/css">


    <!-- Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="css/style3.css" rel="stylesheet">
	<link href="color/default.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<!-- Preloader -->
	<div id="preloader">
	  <div id="load"></div>
	</div>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <h1>Nallur</h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li class="active"><a href="/donate">Donate</a></li>
		<li><a href="#service">Service</a></li>
		<li><a href="#contact">Contact</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Example menu</a></li>
            <li><a href="#">Example menu</a></li>
            <li><a href="#">Example menu</a></li>
          </ul>
        </li> -->
      </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<!-- Section: intro -->
    <section id="intro" class="intro">

		<div class="slogan">
			<h2>WELCOME TO <span class="text_color">Nallur</span> </h2>
      <li class="active"><a href="#intro">Donate</a></li>
			<!-- <h4>WE ARE GROUP OF GENTLEMEN MAKING AWESOME WEB WITH BOOTSTRAP</h4> -->
		</div>
		<div class="page-scroll">
			<a href="#service" class="btn btn-circle">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>
    </section>
	<!-- /Section: intro -->

	<!-- Section: about -->
    <section id="about" class="home-section text-center">
		<div class="heading-about">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
  					<h2>The History of Nallur</h2>
            <h4>The tarlier shrines of Kandaswamy in Nallur</h4>
            <p>The original, Kandaswamy Temple was founded in 948 ad. According to the Yalpana Vaipava Malai, the temple was developed at the site in the 13th century by Buwanika Bahu, a minister to the King of Kotte. Sapumal Kumaraya (also known as Chempaha Perumal in Tamil), who ruled the Jaffna kingdom on behalf of the Kotte kingdom is credited with building the third Nallur Kandaswamy temple.[4][5] Nallur served as the capital of the Jaffna kings, with the royal palace situated very close
              to the temple. Nallur was built with four entrances with gates.[6] There were two main roadways and four temples at the four gateways.The present rebuilt temple that exist now do not match their original locations which instead are occupied by churches erected by the Portuguese.[6] The center of the city was Muthirai Santhai (market place) and was surrounded by a square fortification around it.[6] There were courtly buildings for the kings, Brahmin priests, soldiers and other
              service providers.[6] The old Kandaswamy temple functioned as a defensive fort with high walls.[6] In general, the city was laid out like the traditional temple town according to Hindu traditions.[6] Cankilian Thoppu, the facade of the palace of King Cankili II, can still be found in Nallur.The third temple was destroyed by the Portuguese Catholic colonial Filipe de Oliveira in 1624 AD. The original kovil was located where St. James' Church, Nallur is located today. Part of the
              original Shivalingam of the Nallur Kandaswamy Temple was located in the Vicarage till 1995 when it was destroyed during the recapture of Jaffna by Sri Lanka armed forces and the platform where the shivalingam was mounted on can still be seen in the hallway of the vicarage.</P>
  					<i class="fa fa-2x fa-angle-down"></i>


            <h4>Present of Nallur</h4>
            <p>The fourth and the present temple was constructed in 1734 A.D. during the benign Dutch colonial era by 'Don Juan' Ragunatha Maapaana Mudaliyar, who served as a Shroff in the Dutch Katchery, in a place identified then as the 'Kurukkal Valavu. Krishnaiyar a Brahmin, served as the first priest of the temple.

Initially the temple was built using bricks and stones and had a cadjan roof, enshrining a 'Vel' in the middle. The original shrine had only two small halls.

Ragunatha Maapaana Mudaliyar's descendants continued to administor the temple as Custodians of the temple over the past centuries and to date many additions have been made to bring the temple to its present Glory.

The start of the 'Golden Period' in the history of Nallur Temple is recorded as post 1890, soon after the taking over the temple administration by Arumuga Maapaana Mudaliyar, the 7th Custodian. The first Bell tower was erected by him in 1899 and he made many improvements to the temple including the main Sanctum, renovating it using granite to pave the floor of the Sanctum in 1902. The first enclosing wall was erected in 1909 by him. Likewise, the temple has been gradually renovated from time to
time by his successors to date. After the year 1964, the year the present and the 10th Custodian, Kumaradas Maapaana Mudaliyar took over office, extensive improvements have been made to date, virtually rebuilding the entire complex and making it physically the largest Hindu Temple Complex in the country. The custom of annual 'Thiruppani', introduced by him, has seen the temple growing into its present splendor. Today the temple has four Gopurams and six Bell Towers, along with its fortified
walls, giving it an appearance of a citadel in Nallur.

The temple has the main entrance facing the east. It has an ornately carved five-story tower or gopuram in the Dravidian architecture style at the main entrance.

In the surrounding inner veethy or circumbulatory path, it has shrines for Lords Ganesh, Palliyarai, Sandana Gopalar, Goddess Gajavalli Mahavalli, Vairavar and Sooriyan with Consorts, and Vairavar.

In the southern part of this temple, the holy pond and Thandayudhapaani shrine can be seen. In the northern side, one finds the 'Poonthottam' the holy garden.</p>

  					</div>

					<!-- <div class="section-heading">
					<h2>About us</h2>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">

		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>XXXXX XXXX</h5>
                        <p class="subtitle">---------- --------</p>
                        <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle" /></div>
                    </div>
                </div>
				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.5s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>XXXXX XXXX</h5>
                        <p class="subtitle">----------- ------</p>
                        <div class="avatar"><img src="img/team/2.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.8s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>XXXXX XXXX</h5>
                        <p class="subtitle">-------- -------</p>
                        <div class="avatar"><img src="img/team/3.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="1s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>XXXXX XXXX</h5>
                        <p class="subtitle">------ -----</p>
                        <div class="avatar"><img src="img/team/4.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
				</div>
            </div>
        </div>
		</div> -->
	</section>
	<!-- /Section: about -->


	<!-- Section: services -->
    <section id="service" class="home-section text-center bg-gray">

		<div class="heading-about">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>Our Services</h2>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
				<div class="wow fadeInLeft" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<img src="img/icons/service-icon-1.png" alt="" />
					</div>
					<div class="service-desc">
						<h5>Connect Pepole with every Religious Places</h5>
						<p>throught this app make sure every one be connect all religious places</p>
					</div>
                </div>
				</div>
            </div>
			<div class="col-sm-3 col-md-3">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<img src="img/icons/service-icon-2.png" alt="" />
					</div>
					<div class="service-desc">
						<h5>Social Services</h5>
						<p>per every donations share some amount to charity </p>
					</div>
                </div>
				</div>
            </div>
			<div class="col-sm-3 col-md-3">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<img src="img/icons/service-icon-3.png" alt="" />
					</div>
					<div class="service-desc">
						<h5>Photography</h5>
						<p>Make sure that recoard every activity</p>
					</div>
                </div>
				</div>
            </div>
			<div class="col-sm-3 col-md-3">
				<div class="wow fadeInRight" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<img src="img/icons/service-icon-4.png" alt="" />
					</div>
					<div class="service-desc">
						<h5>Make be Everyone Online</h5>
						<p>By using this app everyone be online on anytime </p>
					</div>
                </div>
				</div>
            </div>
        </div>
		</div>
	</section>
	<!-- /Section: services -->




	<!-- Section: contact -->
    <section id="contact" class="home-section text-center">
		<div class="heading-contact">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>Get in touch</h2>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">

		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
    <div class="row">
        <div class="col-lg-8">
            <div class="boxed-grey">
                <form id="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

		<div class="col-lg-4">
			<div class="widget-contact">
				<h5>Main Office</h5>

				<address>
				  <strong>Trust Coin.</strong><br>
				  Tower 795 Folsom Ave, Beautiful Suite 600<br>
				  San Francisco, CA 94107<br>
				  <abbr title="Phone">P:</abbr> (94) 77 5085453
				</address>

				<address>
				  <strong>Email</strong><br>
				  <a href="mailto:#">ramanakarasarma@gmail.com/a>
				</address>
				<address>
				  <strong>We're on social networks</strong><br>
                       	<ul class="company-social">
                            <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
				</address>

			</div>
		</div>
    </div>

		</div>
	</section>
	<!-- /Section: contact -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="wow shake" data-wow-delay="0.4s">
					<div class="page-scroll marginbot-30">
						<a href="#intro" id="totop" class="btn btn-circle">
							<i class="fa fa-angle-double-up animated"></i>
						</a>
					</div>
					</div>
					<p>&copy;Copyright 2014 - TrustCoin. All rights reserved.</p>
				</div>
			</div>
		</div>
	</footer>

    <!-- Core JavaScript Files -->
    <script src="js/jquery1.min.js"></script>
    <script src="js/bootstrap1.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.js"></script>

</body>

</html>
